mixin titlePage(title='Title')
  title= title

mixin createLinks(name)
  a(href='#'+name)&attributes(attributes)= name

mixin createListItems(item)
  li.item=item.name
    if (item.href)
      a.link(href=item.href)=item.link
    else 
      span(class=item.linkClass)=item.link

mixin createViewTour(tour) 
  li.tours__item 
    figure.image.tours__card
      img(src="./images/"+tour.name+".jpg" alt=tour.name)
    h3.tours__heading=tour.title 
    h4.tours__subheading=tour.option 
    p.tours__description=tour.address

mixin createRadioButton(button)
  .radio-btn
    input(type="radio" id=button.id name=button.name value=button.value)
    label(for=button.id)=button.value

mixin createInputAmount(item) 
  label(for=item.id)=item.title
  .input-area 
    button(type="button") -
    input(type="number" id=item.id min=item.min max=item.max value=item.init step="1" readonly)
    button(type="button") +

mixin createInputText(text)
  .total-message
    label(for=text.id) total
    input(type="text" id=text.id minlength="1" maxlength="10" value="$220")

